---
http_interactions:
- request:
    method: get
    uri: http://api.crystal.dev/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer unauthorized
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Status:
      - 401 Unauthorized
      Surrogate-Control:
      - no-cache
      Www-Authenticate:
      - Bearer realm="VHX API", error="invalid_token", error_description="The access
        token is invalid"
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "message": "Access token is invalid.",
          "documentation_url": "http://dev.vhx.tv/docs/api"
        }
  recorded_at: Tue, 05 May 2015 18:54:32 GMT
- request:
    method: post
    uri: http://api.crystal.dev/oauth/token
    body:
      encoding: UTF-8
      string: client_id=unauthorized&client_secret=unauthorized&grant_type=refresh_token&refresh_token=unauthorized
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Status:
      - 401 Unauthorized
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer realm="VHX API", error="invalid_request", error_description="The request
        is missing a required parameter, includes an unsupported parameter value,
        or is otherwise malformed."
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter, includes an unsupported parameter value, or is otherwise
        malformed."}'
  recorded_at: Tue, 05 May 2015 18:54:32 GMT
recorded_with: VCR 2.9.3
