---
http_interactions:
- request:
    method: get
    uri: http://api.crystal.dev/sites/1900
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d46501a84b0dac5e5063dcb4ee436c17c469a528c7f06885d02b0667622b5e51
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Status:
      - 401 Unauthorized
      Surrogate-Control:
      - no-cache
      Www-Authenticate:
      - Bearer realm="VHX API", error="invalid_token", error_description="The access
        token expired"
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "message": "Access token is invalid.",
          "documentation_url": "http://dev.vhx.tv/docs/api"
        }
  recorded_at: Tue, 05 May 2015 18:31:32 GMT
- request:
    method: post
    uri: http://api.crystal.dev/oauth/token
    body:
      encoding: UTF-8
      string: client_id=34ac1dec21fc20afd5099a2e6e0e62745dead7acd20c7b87320d8e5a7c5a33cc&client_secret=6a04e2cf039db7ff57850f677fe0e419cdc132b3cc04aac9f3c2cd1c193a326d&grant_type=refresh_token&refresh_token=7aa1e03fe89796a2391381669ed847dc20211f2a262192d8404e743cf9ba57bf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b52136a7fe77173b77569142701b4112"'
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: '{"access_token":"cc7d6c93bde201968f077b73acd5ee11a2768cbcb9b43122eb294004bf5b4480","token_type":"bearer","expires_in":7200,"refresh_token":"3b9aacbeb03d05e7b901c35580bcc45e6e714cd4921d8bc8699342632f68bd63","scope":"public"}'
  recorded_at: Tue, 05 May 2015 18:31:33 GMT
- request:
    method: get
    uri: http://api.crystal.dev/sites/1900
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cc7d6c93bde201968f077b73acd5ee11a2768cbcb9b43122eb294004bf5b4480
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Surrogate-Control:
      - max-age=3600
      Surrogate-Key:
      - sites/1900
      Etag:
      - '"dbc97fff0882503fb7557be259e3d36f"'
      Last-Modified:
      - Mon, 04 May 2015 20:46:01 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/sites/1900"
            },
            "home_page": {
              "href": "http://sagartestmovie.crystal.dev"
            },
            "followers": {
              "href": "http://api.crystal.dev/sites/1900/followers"
            }
          },
          "_embedded": {
            "subscription": null,
            "packages": [
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/packages/2780"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  },
                  "videos": {
                    "href": "http://api.crystal.dev/packages/2780/videos"
                  },
                  "buy_page": {
                    "href": "http://sagartestmovie.crystal.dev/buy/pwyw-1"
                  },
                  "home_page": {
                    "href": "http://sagartestmovie.crystal.dev/packages/pwyw-1"
                  }
                },
                "_embedded": {
                },
                "id": 2780,
                "title": "pwyw",
                "description": "",
                "sku": "pwyw-1",
                "price": {
                  "cents": 500,
                  "currency": "USD",
                  "formatted": "$5",
                  "US": {
                    "cents": 500,
                    "currency": "USD",
                    "formatted": "$5"
                  }
                },
                "rental": null,
                "trailer_url": null,
                "trailer_embed_code": "<iframe src=\"http://embed.crystal.dev/packages/2780\" width=\"640\" height=\"360\" frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>",
                "thumbnail": {
                  "small": "http://cdn.crystal.dev/assets/thumbnails/default-small.png",
                  "medium": "http://cdn.crystal.dev/assets/thumbnails/default-medium.png",
                  "large": "http://cdn.crystal.dev/assets/thumbnails/default-large.png",
                  "blurred": null
                },
                "is_active": true,
                "is_preorder": false,
                "release_date": null,
                "videos_count": 0,
                "extras_count": 0,
                "created_at": "2014-07-15T18:15:36Z",
                "updated_at": "2014-08-26T14:48:52Z"
              },
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/packages/7381"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  },
                  "videos": {
                    "href": "http://api.crystal.dev/packages/7381/videos"
                  },
                  "buy_page": {
                    "href": "[...]
