---
http_interactions:
- request:
    method: post
    uri: http://api.crystal.dev/packages
    body:
      encoding: UTF-8
      string: description=test+description&price_cents=1000&site=http%3A%2F%2Fapi.crystal.dev%2Fsites%2F1900&title=test+package
    headers:
      Authorization:
      - Bearer 41d2ed8ead125347d38cf13dd7da8df0a32e9c9e839a9ea1b39c0d4f8b9caa92
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Surrogate-Control:
      - no-cache
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/packages/7381"
            },
            "site": {
              "href": "http://api.crystal.dev/sites/1900"
            },
            "videos": {
              "href": "http://api.crystal.dev/packages/7381/videos"
            },
            "buy_page": {
              "href": "http://sagartestmovie.crystal.dev/buy/test-package-2"
            },
            "home_page": {
              "href": "http://sagartestmovie.crystal.dev/packages/test-package-2"
            }
          },
          "_embedded": {
            "site": {
              "_links": {
                "self": {
                  "href": "http://api.crystal.dev/sites/1900"
                },
                "home_page": {
                  "href": "http://sagartestmovie.crystal.dev"
                },
                "followers": {
                  "href": "http://api.crystal.dev/sites/1900/followers"
                }
              },
              "id": 1900,
              "title": "SagarTestMovie",
              "description": "This is my test movie. ",
              "domain": "sagartestmovie.crystal.dev",
              "subdomain": "sagartestmovie",
              "key": "sagartestmovie",
              "color": "#28DBF7",
              "facebook_url": null,
              "twitter_name": null,
              "google_analytics_id": "",
              "packages_count": 2,
              "videos_count": 3,
              "followers_count": 30,
              "created_at": "2013-12-27T00:20:28Z",
              "updated_at": "2015-05-04T19:15:09Z"
            },
            "videos": [

            ],
          },
          "id": 7381,
          "title": "test package",
          "description": "test description",
          "sku": "test-package-2",
          "price": {
            "cents": 1000,
            "currency": "USD",
            "formatted": "$10",
            "US": {
              "cents": 1000,
              "currency": "USD",
              "formatted": "$10"
            }
          },
          "rental": null,
          "trailer_url": null,
          "trailer_embed_code": "<iframe src=\"http://embed.crystal.dev/packages/7381\" width=\"640\" height=\"360\" frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>",
          "thumbnail": {
            "small": "http://cdn.crystal.dev/assets/thumbnails/default-small.png",
            "medium": "http://cdn.crystal.dev/assets/thumbnails/default-medium.png",
            "large": "http://cdn.crystal.dev/assets/thumbnails/default-large.png",
            "blurred": null
          },
          "is_active": true,
          "is_preorder": false,
          "release_date": null,
          "videos_count": 0,
          "extras_count": 0,
          "created_at": "2015-05-04T19:15:09Z",
          "updated_at": "2015-05-04T19:15:09Z"
        }
  recorded_at: Mon, 04 May 2015 19:15:09 GMT
recorded_with: VCR 2.9.3
