---
http_interactions:
- request:
    method: get
    uri: http://api.crystal.dev/sites/1900
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cc7d6c93bde201968f077b73acd5ee11a2768cbcb9b43122eb294004bf5b4480
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Surrogate-Control:
      - max-age=3600
      Surrogate-Key:
      - sites/1900
      Etag:
      - '"dbc97fff0882503fb7557be259e3d36f"'
      Last-Modified:
      - Mon, 04 May 2015 20:46:01 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/sites/1900"
            },
            "home_page": {
              "href": "http://sagartestmovie.crystal.dev"
            },
            "followers": {
              "href": "http://api.crystal.dev/sites/1900/followers"
            }
          },
          "_embedded": {
            "subscription": null,
            "packages": [
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/packages/2780"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  },
                  "videos": {
                    "href": "http://api.crystal.dev/packages/2780/videos"
                  },
                  "buy_page": {
                    "href": "http://sagartestmovie.crystal.dev/buy/pwyw-1"
                  },
                  "home_page": {
                    "href": "http://sagartestmovie.crystal.dev/packages/pwyw-1"
                  }
                },
                "_embedded": {
                },
                "id": 2780,
                "title": "pwyw",
                "description": "",
                "sku": "pwyw-1",
                "price": {
                  "cents": 500,
                  "currency": "USD",
                  "formatted": "$5",
                  "US": {
                    "cents": 500,
                    "currency": "USD",
                    "formatted": "$5"
                  }
                },
                "rental": null,
                "trailer_url": null,
                "trailer_embed_code": "<iframe src=\"http://embed.crystal.dev/packages/2780\" width=\"640\" height=\"360\" frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>",
                "thumbnail": {
                  "small": "http://cdn.crystal.dev/assets/thumbnails/default-small.png",
                  "medium": "http://cdn.crystal.dev/assets/thumbnails/default-medium.png",
                  "large": "http://cdn.crystal.dev/assets/thumbnails/default-large.png",
                  "blurred": null
                },
                "is_active": true,
                "is_preorder": false,
                "release_date": null,
                "videos_count": 0,
                "extras_count": 0,
                "created_at": "2014-07-15T18:15:36Z",
                "updated_at": "2014-08-26T14:48:52Z"
              },
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/packages/7381"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  },
                  "videos": {
                    "href": "http://api.crystal.dev/packages/7381/videos"
                  },
                  "buy_page": {
                    "href": "[...]
