---
http_interactions:
- request:
    method: post
    uri: http://api.crystal.dev/videos
    body:
      encoding: UTF-8
      string: description=this+video+is+for+gem+testing&site=http%3A%2F%2Fapi.crystal.dev%2Fsites%2F1900&title=gem+test+video
    headers:
      Authorization:
      - Bearer 41d2ed8ead125347d38cf13dd7da8df0a32e9c9e839a9ea1b39c0d4f8b9caa92
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Surrogate-Control:
      - no-cache
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/videos/24344"
            },
            "site": {
              "href": "http://api.crystal.dev/sites/1900"
            },
            "files": {
              "href": "http://api.crystal.dev/videos/24344/files"
            }
          },
          "_embedded": {
            "site": {
              "_links": {
                "self": {
                  "href": "http://api.crystal.dev/sites/1900"
                },
                "home_page": {
                  "href": "http://sagartestmovie.crystal.dev"
                },
                "followers": {
                  "href": "http://api.crystal.dev/sites/1900/followers"
                }
              },
              "id": 1900,
              "title": "SagarTestMovie",
              "description": "This is my test movie. ",
              "domain": "sagartestmovie.crystal.dev",
              "subdomain": "sagartestmovie",
              "key": "sagartestmovie",
              "color": "#28DBF7",
              "facebook_url": null,
              "twitter_name": null,
              "google_analytics_id": "",
              "packages_count": 2,
              "videos_count": 4,
              "followers_count": 31,
              "created_at": "2013-12-27T00:20:28Z",
              "updated_at": "2015-05-04T20:46:01Z"
            },
            "subtitles": [

            ],
            "files": [

            ],
            "transcode": null
          },
          "id": 24344,
          "title": "gem test video",
          "description": "this video is for gem testing",
          "status": null,
          "duration": {
            "seconds": 0,
            "formatted": "00:00:00"
          },
          "thumbnail": {
            "small": "http://cdn.crystal.dev/assets/thumbnails/default-small.png",
            "medium": "http://cdn.crystal.dev/assets/thumbnails/default-medium.png",
            "large": "http://cdn.crystal.dev/assets/thumbnails/default-large.png"
          },
          "is_drm_enabled": false,
          "subtitles_count": 0,
          "files_count": 0,
          "created_at": "2015-05-04T20:46:01Z",
          "updated_at": "2015-05-04T20:46:01Z"
        }
  recorded_at: Mon, 04 May 2015 20:46:01 GMT
recorded_with: VCR 2.9.3
