---
http_interactions:
- request:
    method: get
    uri: http://api.crystal.dev/users/1560703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 41d2ed8ead125347d38cf13dd7da8df0a32e9c9e839a9ea1b39c0d4f8b9caa92
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Surrogate-Control:
      - no-cache
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/users/1560703"
            }
          },
          "_embedded": {
            "packages": [

            ],
            "sites": [

            ]
          },
          "id": 1560703,
          "name": null,
          "thumbnail": {
            "small": "https://secure.gravatar.com/avatar/62142f5ab2660399a3a61a803b7d5cba.png?d=https://cdn.vhx.tv/assets/thumbnails/default-portrait-small.png&r=PG&s=100",
            "medium": "https://secure.gravatar.com/avatar/62142f5ab2660399a3a61a803b7d5cba.png?d=https://cdn.vhx.tv/assets/thumbnails/default-portrait-medium.png&r=PG&s=200",
            "large": "https://secure.gravatar.com/avatar/62142f5ab2660399a3a61a803b7d5cba.png?d=https://cdn.vhx.tv/assets/thumbnails/default-portrait-large.png&r=PG&s=300"
          },
          "packages_count": 0,
          "sites_count": 0,
          "created_at": "2015-05-04T19:52:00Z",
          "updated_at": "2015-05-04T19:52:00Z"
        }
  recorded_at: Mon, 04 May 2015 20:34:46 GMT
recorded_with: VCR 2.9.3
