---
http_interactions:
- request:
    method: post
    uri: http://api.crystal.dev/tickets
    body:
      encoding: UTF-8
      string: package=http%3A%2F%2Fcrystal.dev%2Fpackages%2F1025&user%5Bemail%5D=foo%40bar.foobar
    headers:
      Authorization:
      - Bearer 41d2ed8ead125347d38cf13dd7da8df0a32e9c9e839a9ea1b39c0d4f8b9caa92
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Surrogate-Control:
      - no-cache
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "user": {
              "href": "http://api.crystal.dev/users/1560704"
            },
            "package": {
              "href": "http://api.crystal.dev/packages/1025"
            },
            "site": {
              "href": "http://api.crystal.dev/sites/1900"
            },
            "watch_page": {
              "href": "http://sagartestmovie.crystal.dev/watch?ticket=qs7D5_s7Q1LcxqtHoz6s5qxz9V3rxg"
            }
          },
          "_embedded": {
            "user": {
              "_links": {
                "self": {
                  "href": "http://api.crystal.dev/users/1560704"
                }
              },
              "id": 1560704,
              "name": null,
              "thumbnail": {
                "small": "https://secure.gravatar.com/avatar/6445e34e593eb411811779cad2e6c1de.png?d=https://cdn.vhx.tv/assets/thumbnails/default-portrait-small.png&r=PG&s=100",
                "medium": "https://secure.gravatar.com/avatar/6445e34e593eb411811779cad2e6c1de.png?d=https://cdn.vhx.tv/assets/thumbnails/default-portrait-medium.png&r=PG&s=200",
                "large": "https://secure.gravatar.com/avatar/6445e34e593eb411811779cad2e6c1de.png?d=https://cdn.vhx.tv/assets/thumbnails/default-portrait-large.png&r=PG&s=300"
              },
              "packages_count": 1,
              "sites_count": 0,
              "created_at": "2015-05-04T19:53:27Z",
              "updated_at": "2015-05-04T19:53:27Z"
            },
            "package": {
              "_links": {
                "self": {
                  "href": "http://api.crystal.dev/packages/1025"
                },
                "site": {
                  "href": "http://api.crystal.dev/sites/1900"
                },
                "videos": {
                  "href": "http://api.crystal.dev/packages/1025/videos"
                },
                "buy_page": {
                  "href": "http://sagartestmovie.crystal.dev/buy/testing123"
                },
                "home_page": {
                  "href": "http://sagartestmovie.crystal.dev/packages/testing123"
                }
              },
              "_embedded": {
              },
              "id": 1025,
              "title": "testing123",
              "description": "test",
              "sku": "testing123",
              "price": {
                "cents": 200,
                "currency": "USD",
                "formatted": "$2",
                "US": {
                  "cents": 200,
                  "currency": "USD",
                  "formatted": "$2"
                }
              },
              "rental": null,
              "trailer_url": null,
              "trailer_embed_code": "<iframe src=\"http://embed.crystal.dev/packages/1025\" width=\"640\" height=\"360\" frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>",
              "thumbnail": {
                "small": "http://cdn.crystal.dev/assets/thumbnails/default-small.png",
                "medium": "http://cdn.crystal.dev/assets/thumbnails/default-medium.png",
                "large": "http://cdn.crystal.dev/assets/thumbnails/default-large.png",
                "blurred": null
              },
              "is_active": false,
              "is_preorder": false,
              "release_date": null,
              "videos_count": 2,
              "extras_count": 0,
              "created_at": "2014-02-06T18:00:39Z",
              "updated_at": "2015-02-18T16:21:15Z"
            },
            "site": {
              "_links": {
                "self": {
                  "href": "http://api.crystal.dev/sites/1900"
                },
                "home_page": {
                  "href": "http://sagartestmovie.crystal.dev"
                },
                "followers": {
                  "href": "http://api.crystal.dev/sites/1900/followers"
                }
              },
              "id": 1900,
              "title": "SagarTestMovie",
              "description": "This is my test movie. ",
              "domain": "sagartestmovie.crystal.dev",
              "subdomain": "sagartestmovie",
              "key": "sagartestmovie",
              "color": "#28DBF7",
              "facebook_url": null,
              "twitter_name": null,
              "google_analytics_id": "",
              "packages_count": 2,
              "videos_count": 3,
              "followers_count": 31,
              "created_at": "2013-12-27T00:20:28Z",
              "updated_at": "2015-05-04T19:37:32Z"
            }
          },
          "id": 1373757,
          "token": "qs7D5_s7Q1LcxqtHoz6s5qxz9V3rxg",
          "status": "enabled",
          "created_at": "2015-05-04T20:23:39Z",
          "updated_at": "2015-05-04T20:23:39Z"
        }
  recorded_at: Mon, 04 May 2015 20:23:40 GMT
recorded_with: VCR 2.9.3
