---
http_interactions:
- request:
    method: get
    uri: http://api.crystal.dev/packages/1025
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cc7d6c93bde201968f077b73acd5ee11a2768cbcb9b43122eb294004bf5b4480
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Surrogate-Control:
      - max-age=3600
      Surrogate-Key:
      - packages/1025 sites/1900
      Etag:
      - '"45ff7920d37d7ddc4663ef9da4e45af8"'
      Last-Modified:
      - Wed, 18 Feb 2015 16:21:15 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/packages/1025"
            },
            "site": {
              "href": "http://api.crystal.dev/sites/1900"
            },
            "videos": {
              "href": "http://api.crystal.dev/packages/1025/videos"
            },
            "buy_page": {
              "href": "http://sagartestmovie.crystal.dev/buy/testing123"
            },
            "home_page": {
              "href": "http://sagartestmovie.crystal.dev/packages/testing123"
            }
          },
          "_embedded": {
            "site": {
              "_links": {
                "self": {
                  "href": "http://api.crystal.dev/sites/1900"
                },
                "home_page": {
                  "href": "http://sagartestmovie.crystal.dev"
                },
                "followers": {
                  "href": "http://api.crystal.dev/sites/1900/followers"
                }
              },
              "id": 1900,
              "title": "SagarTestMovie",
              "description": "This is my test movie. ",
              "domain": "sagartestmovie.crystal.dev",
              "subdomain": "sagartestmovie",
              "key": "sagartestmovie",
              "color": "#28DBF7",
              "facebook_url": null,
              "twitter_name": null,
              "google_analytics_id": "",
              "packages_count": 2,
              "videos_count": 4,
              "followers_count": 31,
              "created_at": "2013-12-27T00:20:28Z",
              "updated_at": "2015-05-04T20:46:01Z"
            },
            "videos": [
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/videos/3008"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  },
                  "files": {
                    "href": "http://api.crystal.dev/videos/3008/files"
                  }
                },
                "_embedded": {
                  "subtitles": [
                    {
                      "_links": {
                        "self": {
                          "href": "http://api.crystal.dev/videos/7726"
                        },
                        "video": {
                          "href": "http://api.crystal.dev/videos/3008"
                        },
                        "site": {
                          "href": "http://api.crystal.dev/sites/1900"
                        }
                      },
                      "language": "Bengali",
                      "type": "video"
                    },
                    {
                      "_links": {
                        "self": {
                          "href": "http://api.crystal.dev/videos/5558"
                        },
                        "video": {
                          "href": "http://api.crystal.dev/videos/3008"
                        },
                        "site": {
                          "href": "http://api.crystal.dev/sites/1900"
                        }
                      },
                      "language": "English",
                      "type": "video"
                    }
                  ]
                },
                "id": 3008,
                "title": "Test Movie",
                "description": "Testing",
                "status": "uploaded",
                "duration": {
                  "seconds": 19,
                  "formatted": "00:00:19"
                },
                "thumbnail": {
                  "small": "https://dv6n47kh00ig2.cloudfront.net/sagartestmovie/assets/images/video-3008-1403716255-240x135.jpg",
                  "medium": "https://dv6n47kh00ig2.cloudfront.net/sagartestmovie/assets/images/video-3008-1403716255-640x360.jpg",
                  "large": "https://dv6n47kh00ig2.cloudfront.net/sagartestmovie/assets/images/video-3008-1403716255-1280x720.jpg"
                },
                "is_drm_enabled": false,
                "subtitles_count": 2,
                "files_count": 5,
                "created_at": "2014-02-06T05:30:18Z",
                "updated_at": "2015-02-18T16:21:24Z",
                "position": 0
              },
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/videos/7830"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  },
                  "files": {
                    "href": "http://api.crystal.dev/videos/7830/files"
                  }
                },
                "_embedded": {
                  "subtitles": [

     [...]
