---
http_interactions:
- request:
    method: post
    uri: http://api.crystal.dev/sites
    body:
      encoding: UTF-8
      string: description=For+testing+gem&title=Gem+New+Site
    headers:
      Authorization:
      - Bearer 41d2ed8ead125347d38cf13dd7da8df0a32e9c9e839a9ea1b39c0d4f8b9caa92
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Surrogate-Control:
      - no-cache
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/sites/11439"
            },
            "home_page": {
              "href": "http://gemnewsite.crystal.dev"
            },
            "followers": {
              "href": "http://api.crystal.dev/sites/11439/followers"
            }
          },
          "_embedded": {
            "subscription": null,
            "packages": [

            ]
          },
          "id": 11439,
          "title": "Gem New Site",
          "description": "For testing gem",
          "domain": "gemnewsite.crystal.dev",
          "subdomain": "gemnewsite",
          "key": "gemnewsite",
          "color": "#22B9B0",
          "facebook_url": null,
          "twitter_name": null,
          "google_analytics_id": null,
          "packages_count": 0,
          "videos_count": 0,
          "followers_count": 0,
          "created_at": "2015-05-04T19:42:34Z",
          "updated_at": "2015-05-04T19:42:34Z"
        }
  recorded_at: Mon, 04 May 2015 19:42:35 GMT
recorded_with: VCR 2.9.3
