---
http_interactions:
- request:
    method: get
    uri: http://api.crystal.dev/videos/3008
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 41d2ed8ead125347d38cf13dd7da8df0a32e9c9e839a9ea1b39c0d4f8b9caa92
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Surrogate-Control:
      - max-age=3600
      Surrogate-Key:
      - videos/3008 sites/1900
      Etag:
      - '"46aceb0e0092d7c2f0738be22c7ef992"'
      Last-Modified:
      - Wed, 18 Feb 2015 16:21:24 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/videos/3008"
            },
            "site": {
              "href": "http://api.crystal.dev/sites/1900"
            },
            "files": {
              "href": "http://api.crystal.dev/videos/3008/files"
            }
          },
          "_embedded": {
            "site": {
              "_links": {
                "self": {
                  "href": "http://api.crystal.dev/sites/1900"
                },
                "home_page": {
                  "href": "http://sagartestmovie.crystal.dev"
                },
                "followers": {
                  "href": "http://api.crystal.dev/sites/1900/followers"
                }
              },
              "id": 1900,
              "title": "SagarTestMovie",
              "description": "This is my test movie. ",
              "domain": "sagartestmovie.crystal.dev",
              "subdomain": "sagartestmovie",
              "key": "sagartestmovie",
              "color": "#28DBF7",
              "facebook_url": null,
              "twitter_name": null,
              "google_analytics_id": "",
              "packages_count": 1,
              "videos_count": 3,
              "followers_count": 30,
              "created_at": "2013-12-27T00:20:28Z",
              "updated_at": "2015-04-30T18:17:22Z"
            },
            "subtitles": [
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/videos/7726"
                  },
                  "video": {
                    "href": "http://api.crystal.dev/videos/3008"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  }
                },
                "language": "Bengali",
                "type": "video"
              },
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/videos/5558"
                  },
                  "video": {
                    "href": "http://api.crystal.dev/videos/3008"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  }
                },
                "language": "English",
                "type": "video"
              }
            ],
            "files": [
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/videos/3008/files?format=m3u8&quality=adaptive"
                  },
                  "video": {
                    "href": "http://api.crystal.dev/videos/3008"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  }
                },
                "size": {
                  "bytes": 443,
                  "formatted": "443 Bytes"
                },
                "quality": "adaptive",
                "format": "m3u8",
                "method": "hls",
                "mime_type": "application/x-mpegURL",
                "created_at": "2014-02-06T05:30:51Z",
                "updated_at": "2014-02-06T05:32:32Z"
              },
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/videos/3008/files?format=mp4&quality=720p"
                  },
                  "video": {
                    "href": "http://api.crystal.dev/videos/3008"
                  },
                  "site": {
                   [...]
- request:
    method: get
    uri: http://api.crystal.dev/sites/1900
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 41d2ed8ead125347d38cf13dd7da8df0a32e9c9e839a9ea1b39c0d4f8b9caa92
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Surrogate-Control:
      - max-age=3600
      Surrogate-Key:
      - sites/1900
      Etag:
      - '"2be7fb00bf9ac7c2f2aa8e54bdf25b03"'
      Last-Modified:
      - Thu, 30 Apr 2015 18:17:22 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: |
        {
          "_links": {
            "self": {
              "href": "http://api.crystal.dev/sites/1900"
            },
            "home_page": {
              "href": "http://sagartestmovie.crystal.dev"
            },
            "followers": {
              "href": "http://api.crystal.dev/sites/1900/followers"
            }
          },
          "_embedded": {
            "subscription": null,
            "packages": [
              {
                "_links": {
                  "self": {
                    "href": "http://api.crystal.dev/packages/2780"
                  },
                  "site": {
                    "href": "http://api.crystal.dev/sites/1900"
                  },
                  "videos": {
                    "href": "http://api.crystal.dev/packages/2780/videos"
                  },
                  "buy_page": {
                    "href": "http://sagartestmovie.crystal.dev/buy/pwyw-1"
                  },
                  "home_page": {
                    "href": "http://sagartestmovie.crystal.dev/packages/pwyw-1"
                  }
                },
                "_embedded": {
                },
                "id": 2780,
                "title": "pwyw",
                "description": "",
                "sku": "pwyw-1",
                "price": {
                  "cents": 500,
                  "currency": "USD",
                  "formatted": "$5",
                  "US": {
                    "cents": 500,
                    "currency": "USD",
                    "formatted": "$5"
                  }
                },
                "rental": null,
                "trailer_url": null,
                "trailer_embed_code": "<iframe src=\"http://embed.crystal.dev/packages/2780\" width=\"640\" height=\"360\" frameborder=\"0\" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>",
                "thumbnail": {
                  "small": "http://cdn.crystal.dev/assets/thumbnails/default-small.png",
                  "medium": "http://cdn.crystal.dev/assets/thumbnails/default-medium.png",
                  "large": "http://cdn.crystal.dev/assets/thumbnails/default-large.png",
                  "blurred": null
                },
                "is_active": true,
                "is_preorder": false,
                "release_date": null,
                "videos_count": 0,
                "extras_count": 0,
                "created_at": "2014-07-15T18:15:36Z",
                "updated_at": "2014-08-26T14:48:52Z"
              }
            ]
          },
          "id": 1900,
          "title": "SagarTestMovie",
          "description": "This is my test movie. ",
          "domain": "sagartestmovie.crystal.dev",
          "subdomain": "sagartestmovie",
          "key": "sagartestmovie",
          "color": "#28DBF7",
          "facebook_url": null,
          "twitter_name": null,
          "google_analytics_id": "",
          "packages_count": 1,
          "videos_count": 3,
          "followers_count": 30,
          "created_at": "2013-12-27T00:20:28Z",
          "updated_at": "2015-04-30T18:17:22Z"
        }
  recorded_at: Mon, 04 May 2015 19:08:08 GMT
recorded_with: VCR 2.9.3
